@charset "UTF-8";

// ---- Base typo
body {
  font-family: $font-family-primary;
  font-size: $core-font-size;
  font-weight: 400;
}

// ---- Button
// - butonSecondary
.btn-secondary {
  font-size: 1.5rem;
  line-height: 1.9rem;
  font-weight: bold;
}

// ---- Menu
// - menuItem
.menu-item {
  .label {
    font-size: 1.9rem;
    line-height: 2.2rem;
    font-weight: bold;
  }
}

// ---- Profile
// - content
.profile {
  .profile-content {
    .user-name {
      font-weight: bold;
      line-height: 1.9rem;
    }

    .user-tagname {
      font-weight: normal;
      line-height: 1.9rem;
    }
  }
}

// ---- Header
.page-header {
  .header-title {
    font-size: 1.9rem;
    line-height: 2.2rem;
    font-weight: bold;
  }
}

// ---- Post
.tweet-post {
  .text-imput {
    font-size: 2rem;
    line-height: 2.4rem;
    font-weight: 400;

    &::placeholder {
      font-size: 2rem;
      line-height: 2.4rem;
      font-weight: 500;
    }
  }
}

// ---- Tweet card
.tweet-card {

  .user-name,
  .user-tag,
  .dot-separator,
  .tweet-post-time,
  .tweet-text-camp {
    font-size: 1.7rem;
    line-height: 1.99rem;
    font-weight: 700;
  }

  .interaction-value,
  .show-thread {
    font-size: 1.5rem;
    line-height: 1.7rem;
    font-weight: 500;
  }
}

// ---- Search
.app-search {
  .imput-search {
    font-size: 1.6rem;
    line-height: 1.9rem;
    font-weight: 500;
  }
}

// ---- News card
.news-card {
  font-size: 1.7rem;
  line-height: 1.9rem;
  font-weight: 700;

  .news-card-header,
  .tag-label {
    font-size: 1.6rem;
    line-height: 1.8rem;
    font-weight: 500;
  }
}
