@charset "UTF-8";

// ---- Base typo
body {
  font-family: $font-family-primary;
  font-size: $core-font-size;
  font-weight: 400;
}

//
.menu-item {
  .label {
    font-size: 1.9rem;
    line-height: 2.2rem;
    font-weight: bold;
  }
}
